
    .title {
        color: rgba(207, 35, 56, 1);
        font-size: 20px;
        font-weight: bold;
    }

.form-check-input:checked {
    background-color: red !important;
    border-color: red !important;
}

