.modal-detail.modal-dialog
{
    max-width: 800px;
}

.modal-detail .modal-content {
    .custom-header {
        padding: 1rem 2rem;
    }

    .modal-body {
        padding: 1rem 2rem;
    }

    .custom-header {
        #login-modal{
            padding: 0;
        }
    }
}

.table-detail{
    padding-left: 2px;
}