.modal-detail.modal-dialog {
  max-width: 800px;
}

.modal-detail .modal-content {
  .custom-header {
    padding: 1rem 2rem;
  }

  .modal-body {
    padding: 1rem 2rem;
  }

  .custom-header {
    #login-modal {
      padding: 0;
    }
  }
}
.modal-body .form-detail {
  padding-left: 14px;
}
.table-detail th {
  padding-left: 0px;
}

.table-detail {
  padding-left: 2px;
}

.table-detail-word-wrap {
  word-wrap: break-word;
}
