.form-btn-select__modal {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.radio-select-modal {
  max-width: 640px;

  tr {
    td:first-of-type {
      &::after {
        display: none;
      }
    }
  }

  th {
    &::after {
      display: none;
    }
  }

  .modal-header {
    background-color: transparent;
    border-bottom: none;

    .input-group {
      margin-bottom: 0 !important;
      input {
        border-color: #6c757d;
      }
    }

    .modal-title {
      font-weight: bold;
      .row {
        align-items: center;
      }
    }
  }

  .modal-footer {
    border-top: none;
    padding-bottom: 32px;
  }
}
