.custom-input-group {
  position: relative !important; // Make sure the parent is relative for positioning context
  .dropdown-toggle::after {
    content: none !important;
  }
  .dropdown-menu {
    position: absolute !important; // Position absolutely within the parent
    top: 100%; // Position the menu below the input
    right: 0; // Align with the left edge of the input group
    min-width: 0px !important;
    width: 100% !important; // Ensure the dropdown spans the full width of the parent
    max-width: none !important; // Allow the dropdown to stretch

    a.dropdown-item {
      width: 100% !important; // Ensure each dropdown item spans the full width

      div.form-check {
        width: 100% !important; // Make sure the checkbox container spans the full width
      }
    }
  }
}
