.changepassword-form-header {
  text-align: left;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--primary-grey);
  border-radius: 4px;
  background-color: var(--primary-grey-200);
}

.changepassword-form-wrapper {
  border: 1px solid var(--primary-grey);
  border-radius: 4px;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(250, 252, 252, 1);
}
