@import '~bootstrap/scss/bootstrap';

@import '../components/DateFilter.scss';
@import '../components/formInputs/DateField.scss';
@import '../features/layout/Header.scss';
@import '../features/layout/Sidebar.scss';
@import '../components/confirmModal/ConfirmModal.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  max-width: 100vw;
}

.primaryColor {
  color: rgba(207,35,56,1);
}

.invalid {
  color: #dc3545;
}

.container-lg-min {
  max-width: 1700px;
}

.text-title {
  color: rgba(207,35,56,1);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}

.pointer:hover {
  cursor: pointer;
  opacity: 0.5;
}

.disable {
  opacity: 0.5;
}

.border {
  border: 1px solid #ced4da;
  border-radius: 0 .25rem .25rem 0;
  height: calc(1.5em + .75rem + 2px);
}