@import "~bootstrap/scss/bootstrap";

@import "../components/DateFilter.scss";
@import "../components/formInputs/DateField.scss";
@import "../components/Button.scss";
@import "../features/layout/Header.scss";
@import "../features/layout/Sidebar.scss";
@import "../features/auth/login/LoginForm.scss";
@import "../features/auth/firstime-login/ChangePasswordFirstTimeForm.scss";
@import "../features/auth/changepassword/ChangePasswordForm.scss";
@import "../features/asset/detail/DetailForm.scss";

@import "../components/confirmModal/ConfirmModal.scss";
@import "../components/formInputs/RadioButtonField.scss";
@import "../components/formInputs/SelectField.scss";

@import "../features/styles.scss";

:root {
  --primary-grey: #ced4da;
  --primary-grey-200: rgba(239, 241, 245, 1);
  --primary-color: rgba(207, 35, 56, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  max-width: 100vw;
}

option {
  padding: 8px 16px;
}

.bgPrimary {
  background-color: rgba(207, 35, 56, 1);
}

.borderPrimaryRed {
  border-color: rgba(207, 35, 56, 1);
}

.primaryColor {
  color: rgba(207, 35, 56, 1);
}

.invalid {
  color: #dc3545;
}

.container-lg-min {
  max-width: 1700px;
}

.text-title {
  color: rgba(207, 35, 56, 1);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}

.pointer:hover {
  cursor: pointer;
  opacity: 0.5;
}

.disable {
  opacity: 0.5;
}

.border {
  border: 1px solid #ced4da;
  border-radius: 0 0.25rem 0.25rem 0;
  height: calc(1.5em + 0.75rem + 2px);
}

.pt-10 {
  padding-top: 10%;
}

.form-header {
  text-align: center;
  padding: 0.5rem 3.5rem;
  border: 1px solid var(--primary-grey);
  border-radius: 4px;
  background-color: var(--primary-grey-200);
}

.form-body {
  border: 1px solid var(--primary-grey);
  border-radius: 4px;
  padding: 1.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  background-color: rgba(250, 252, 252, 1);

  .form-group {
    width: 100%;
  }

  button {
    align-self: flex-end;
  }
}

.form-control.is-invalid,
.form-control.is-valid {
  background: none !important;
}

.modal-backdrop.show {
  background: none;
}

.fade.modal-backdrop {
  background: none;
}
