.modal-header.custom-header {
    background-color: #f1f1f1;
    color: rgba(207, 35, 56, 1);
    border: 1px solid black;
}
.modal-header.custom-header .modal-title {
  color: rgba(207, 35, 56, 1);
  padding-left: 10px;
}
.custom-body.modal-body {
    border: 1px solid black;
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
}
.modal-body-content {
    align-items: flex-start;
    padding-left: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.modal-buttons button {
  margin-right: 10px;
}

.modal-buttons button.btn-danger {
  background-color: rgba(207, 35, 56, 1);
  border-color: rgba(207, 35, 56, 1);
}

#login-modal {
  padding-left: 10px;
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.custom-header .modal-title {
  flex-grow: 1;
}

.custom-header .btn-icon {
  display: flex;
  align-items: center;
}

.custom-modal {
  .pointer {
    stroke-width: 2px;
    stroke: rgba(207, 35, 56, 1);
  }
}
